body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f8ff;
}

/* HEADER */
.navbar {
  background: #0b5ed7;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.logo span {
  color: #cfe2ff;
}

button {
  background: white;
  color: #0b5ed7;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* HOME */
.container {
  padding: 30px;
}

.job-card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.job-card h4 {
  color: #0b5ed7;
}

.job-card button {
  margin-top: 10px;
  background: #0b5ed7;
  color: white;
}

/* APPLY PAGE */
.job-page {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.job-details,
.apply-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.apply-form input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}
